.banner{
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMb1etsrsQT2ckDNXARrbDDLq3_S4bSnNjfMuRKJjyPE_AhcJsGqb2Lf-jeUQOLmRJh9DePz4xUxZU_NlnBhXAc4AEpYbZrFbOifStRmQKmbC_tRN0My3jVP8J--3QYAB1l5p-uQnGTaeg0hJ6ztfj7_w=w1031-h773-s-no-gm);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 25%;
    color: #fff;
}