.banner{
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczNch5LdkebliBBU-hk6yYJKy3VOtgRDkzx4sfhzHJ4hH1iHX72YvVnK5UqI-p8RR9YA2ZW0yjcG-fcs_5ZZDBg-X_UBB_-3XiXSPYtnsBSbzo-P649wZydIeeseQf_q7hzUQHuzh-bM96jfJq7ieaA=w960-h641-s-no-gm);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 25%;
    color: #fff;
}